fastapi
uvicorn
pydantic>=2.7.0
pydantic-settings
python-dotenv
openai
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-groq
google-genai>=1.41.0
langgraph
redis
asyncpg
livekit-api
deepgram-sdk
python-multipart
